@signup-bg: #008a35;

@lead-bg:#b76abd;
@list-height: 48px;
@ios7-blue:#007AFF;
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #eee;
}
header.prp-fake{
    height:53px;
    width:100%;
}
header.prp{
    background: white;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    right:0;
    nav {
        margin:0;
        flex: 1 1 2px;
    }
    ul.pager{
        margin:0;
    }
    h1,h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 12px;
        flex: 1 1 40px;
        text-align: right;
    }
}
.glyphicon.glyphicon-menu-hamburger.prp-menu {
    font-size: 28px;
    margin-right: 10px;
}
div.page-header-menu{
    position: fixed;
    z-index: 9999;
    background: white;
    border-bottom-right-radius: 10px;
    line-height: 38px;
    padding: 5px;
    box-shadow: #ccc 2px 2px;
    .menu-item {
        border-top: 1px solid #ccc;
        &:first-of-type {
            border-top:none;
        }
        a {
            margin: 0 20px;
        }
    }
}

div.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    select.month-picker {
        height: 34px;
        text-align-last: center;
        align-self: center;
        flex: 0 0 34px;
        width: 100%;
        max-width: 270px;
    }
    table {
        border-collapse: collapse;
        align-self: center;
        tr:first-of-type{
            font-size: 12px;
        }
        td {
            width: 36px;
            height: 36px;
            border: 1px solid #ccc;
            text-align: center;
            vertical-align:middle;
            div.text {
                &.hl {
                    color:white;
                    font-weight: bold;
                    text-shadow: #333 1px 1px;
                }
            }
            &.editable {
                cursor:pointer;
            }
            &.busy {
                cursor:pointer;
            }
            div.busy {
                position: absolute;
                margin-left: 16px;
                margin-top: -5px;
            }
            div.lead {
                position: absolute;
                height: 36px;
                width: 36px;
                background: @lead-bg;
                margin-top: -27.5px;
                z-index: -1;
                &.both{
                    width:18px;
                }
            }
            div.signup {
                position: absolute;
                height: 36px;
                width: 36px;
                background: @signup-bg;
                margin-top: -27.5px;
                opacity: 0.5;
                z-index: -1;
                &.both{
                    width:18px;
                    height: 36.5px;
                    margin-left:18px;
                }
            }
        }
    }
}

 h4.event-date {
      margin:4px 4px 4px auto;
      text-align: right;
}

button.btn.btn-sm.to-right{
    float:right;
    margin:5px 5px 5px auto;
}
div.to-right{
  text-align: right;
  padding-right: 5px;
}
ul.day-session-list {
  margin: 0;
  padding: 0;
  li {
      margin:0;
      list-style: none;
      border-bottom: 1px solid #ccc;
      &.detail{
          height:initial;
      }
      div.detail {
          padding: 5px;
          background: white;
      }
      .glyphicon.glyphicon-remove-sign.remove-date {
         margin:0 10px;
         line-height: 30px;
         top:10px;
         cursor: pointer;
         font-size: 28px;
      }
      &.signup div.session {
        background: @signup-bg;
        color: white;
      }
      div.session {
        line-height: @list-height;
        &.active {
            background: @signup-bg;
            color:white;
        }
        &.deleted {
            text-decoration: line-through;
            color:#ccc;
        }
        background: #333;
        color:white;
        display: flex;
        padding-left:5px;
        padding-right: 5px;
        span.s1 {
            flex:1 1 auto;
        }
        span.s3 {
            align-self: flex-end;
            flex:0 0 auto;
            margin:0 3px;
        }
        span.s2 {
            flex:0 0 25px;
            align-self: flex-end;
        }
      }
      div.detail.edit {
            font-size:16px;
            display: flex;
            flex-direction: column;
            textarea {
                min-height: 50px;
            }
           label {
                margin:5px 5px 2px 2px;
               /* height:28px;
                line-height: 28px;*/
                text-transform: uppercase;
           }
           label.inline{
               height:auto;
               select,input{
                   margin-left:5px;
               }
           }
           input {
               padding: 4px 4px;
               font-size: 1.2em;
               text-align: start;
               /*
               line-height: 1.5em;
               */
            }
           div.btn-group{
               margin:4px 0;
           }
           textarea {
              font-size: 1.2 em;
              /*line-height: 1.5em;*/
              padding: 4px;
              max-width: 100%;
              resize:vertical;
           }
      }
  }
  li:first-of-type {
      border-top: 1px solid #ccc;
  }
}

div.session-actions{
    margin:5px auto 5px 4px;
}
div.recurring-editor{
    /*line-height: 28px;*/
    .badge {
        margin:0 4px;
    }
    select {
        margin-right: 5px;
    }
    margin:5px 0;
    div {
        margin:5px;
    }
}
select.prp-cat-picker{
    font-weight: normal;
}
div.prp-event-month-view-container{
    background: white;
    border-radius: 5px;
    margin:10px;
    padding: 1px 0;

    div.prp-event-month-view {
        margin:30px 0;
        div.header {
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #888;
            text-decoration: underline;
            color:blue;
            cursor: pointer;
        }
        ul {
            padding: 5px 5px 5px 18px;
        }
        li {
            span.event-time {
                width: 100px;
                display: inline-block;
            }
            list-style-type: square;
            span.event-cat {
                display: block;
                float: right;
                font-size: 14px;
                color:#777;
            }
            span.badge {
                margin-left:10px;
            }
        }
    }
}

ul.user-list {
  margin: 0;
  padding: 0;
  li {
      margin:0;
      list-style: none;
      border-bottom: 1px solid #ccc;
      &:first-of-type {
        border-top: 1px solid #ccc;
      }
      div.list-item {
        line-height: @list-height;
        &.active {
            background: @signup-bg;
            color:white;
        }
        &.super{
            color:red;
            text-shadow:black 1px 1px;
        }
        &.inactive {
            text-decoration: line-through;
            color:#ccc;
        }
        background: @ios7-blue;
        color:white;
        display: flex;
        padding-left:5px;
      }
      div.detail.edit{
        background: white;
        font-size:16px;
        display: flex;
        label {
            margin-right: 10px;
        }
        flex-direction: column;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        button.btn.save {
            width:120px;
            margin:5px 0;
            float: right;
        }
      }
  }
}
.my-toggle-list-container {
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
    ul.my-toggle-list{
        padding: 0;
        li:first-of-type {
            border-top: 1px solid #ccc;
        }
        li {
            padding:  0 5px;
        }
        li span.flag {
            display:inline-block;
            width: 20px;
        }
    }
}
.my-toggle-list-container.role-list {
    li {
        line-height: 40px;
    }
    width: 100px;
}
.my-toggle-btn{
    border: 1px solid white;
    border-radius: 7px;
    width: 60px;
    &.on {
        border: 1px solid @ios7-blue;
        background: @ios7-blue;
        background-clip: content-box;
        padding-right: 30px;
    }
    &.off {
        border: 1px solid @ios7-blue;
        background: #ccc;
        background-clip:content-box;
        padding-left: 30px;
    }
}

.change-pwd-form {
    margin:20px 10px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    label {
        display: block;
    }
    input[type=password]{
        padding: 0 10px;
        width: 100%;
    }
    div.errors {
        margin-top:20px;
        color:red;
        line-height: 24px;
    }
    div.submit-div{
        text-align: right;
    }
    .btn.btn-primary {
        width: 200px;
        margin:10px 0;
    }
}
div.leader-picker{
    div.leader-selected-items{
        margin-top:5px;
        margin-bottom:10px;
        span.label {
            margin: 5px 4px;
            font-size: 14px;
        }
    }
}