html,body{
    height: 100% !important;
    border: 1px solid white;
    overflow: hidden;
}
h3 {
    font-size: 22px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width:100%;
}
#root {
    /*require javascript to resize 100% - 56 */
}
form.login {
  height: 100%;
  overflow-y: auto;
  input {
      margin:10px 0;
  }
  input[type=text],input[type=password]{
      padding:0 10px;
  }
  button {
      min-width: 100px;
  }
  display:flex;
  flex-direction: column;
  align-items:stretch;
  align-content: center;
  margin:10px;
  line-height: 40px;

  .glyphicon.glyphicon-ok {
    margin-left:20px;
  }
}

ul.ls-err {
    line-height: 1.1em;
    color:red;
    padding:0;
    li {
        margin:5px 10px 2px 20px;
    }
}
input.ck-notrobot{
     /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

label.lb-notrobot {
    margin-left:8px;
    margin-top:10px;
}
//For Cellphone
@media (min-width: 300px) and (max-width: 480px) {

    //CSS
    input.ck-notrobot{
        transform: scale(1.5);
        margin-left: 5px;
        padding:10px;
    }
  }