<%!
import(
    "io"
)
%>
<%: func Login(generatedTime int64, w io.Writer) %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,User-scalable=no">

        <script src='/vendor/jquery.min.js'></script>
        <script src='/vendor/react.production.min.js'></script>
        <script src='/vendor/react-dom.production.min.js'></script>
        <script src='/vendor/react-router.min.js'></script>
        <script src='/vendor/react-router-dom.min.js'></script>
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href='/style/login.css?v=<%==i generatedTime%>' />
        <meta data-generated-time='<%==i generatedTime%>' >
    </head>
    <body>
        <div id='root'></div>
        <script type='text/javascript' src='/js/bundlelogin.js?v=<%==i generatedTime%>'></script>
    </body>
</html>